<template name="stepsFormField">
  {{# if textinput}}
    <div class="control-group">
      <label class="control-label">{{question}}</label>
      <div class="controls" data-type="{{type}}">
        <input class="textinput answer span12" type="text" value="{{answer}}"/>
      </div>
    </div>
  {{/if}}
    
  {{# if textarea}}
    <div class="control-group">
      <label class="control-label">{{question}}</label>
      <div class="controls" data-type="{{type}}">
        <textarea class="answer span12" value="{{answer}}">{{answer}}</textarea>
      </div>
    </div>
  {{/if}}
    
  {{# if checkbox}}
    <div class="control-group">
      <label class="control-label">{{question}}</label>
      <div class="controls" data-type="{{type}}">
        {{#each checkboxes}}
          <label class="checkbox inline">
            <input type="checkbox" value="{{this}}" {{checked ../answer}}/>{{this}}
          </label>
        {{/each}}
      </div>
    </div>
  {{/if}}
</template>
