<template name="stepsForm">
  <form class="form" action="">
    {{#each answerGroups }}
      {{> stepsFormField}}
    {{/each }}
    <!-- <div class="btn&#45;toolbar"> -->
    <!--   <div class="btn&#45;group"> -->
    <!--     <button class="btn">Button</button> -->
    <!--     <button class="btn">Button</button> -->
    <!--   </div> -->
    <!--   <div class="btn&#45;group"> -->
    <!--     <button class="btn">Button</button> -->
    <!--     <button class="btn">Button</button> -->
    <!--   </div> -->
    <!-- </div> -->
  </form>
</template>
