$base03 =   #002b36
$base02 =   #073642
$base01 =   #586e75
$base00 =   #657b83
$base0 =    #839496
$base1 =    #93a1a1
$base2 =    #eee8d5
$base3 =    #fdf6e3
$yellow =   #b58900
$orange =   #cb4b16
$red =      #dc322f
$magenta =  #d33682
$violet =   #6c71c4
$blue =     #268bd2
$cyan =     #2aa198
$green =    #859900

@import url(http://fonts.googleapis.com/css?family=Abel)

body
  background-color: $base03
  color: $base3
  font-family: 'Abel', sans-serif

.navbar-inner
  background-color: $base02
  background-image: none

#logo
  background-color: $base02
  color: $base0
  text-shadow: none

  &:hover
    color: $yellow

#login-buttons 
  a, a:active
    color: $base0
    text-shadow: none
    
    &:hover
      color: $yellow
  
  .dropdown-menu
    background-color: $base02

.well
  background-color: $base02

.hidden, .invisible
  display: none

.control-group
  margin-bottom: 30px


h1
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  &:hover
    color: $yellow

  span
    display: inline-block
    width: 25px
